@font-face {
	font-family: 'Raleway', sans-serif;
	src: url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');
}
@font-face{
    font-family: 'Shrikhand', cursive;
    src:url ('https://fonts.googleapis.com/css2?family=Shrikhand&display=swap')
    }
* {
	margin: 0;
	font-weight: normal;
	font-family: 'Raleway', sans-serif;
	box-sizing: border-box;
}
@media screen and (min-width:300px) and (max-width: 500px){
    header div{
        display:flex;
        justify-content: space-around;
        margin-right:110px;
   
    }
    h1{
        font-family:'Shrikhand', cursive;
    }
    header div i{
        margin-top: 25px;
        font-size: 25px;
        margin-right: 40px;
        color:#353535;
    }
    header img{
        height: 38px;
    margin-top: 19px;
    margin-bottom: 16px;

    }
    #headerphoto img{
    width: 100%;
    height: 350px;
    object-fit: cover;
    z-index: 10;
    }

    /*LE MENU*/
    .tallcontenair{
        position: relative;
         width: 100%;
         padding:25px 10px 10px 10px;
        border: 3px solid transparent;
        background-color: #f2f2f2;
        border-radius: 50px 50px 0 0;
        margin-top:-70px ;
        }
    .menulist{
        border: 1px solid transparent;
        background-color: white;
        border-radius: 15px 15px 15px 15px;
        height: 70px;
        margin: 0 0 10px 0;
        padding: 10px 0 0 10px;
    }
    .menulist h3{
        font-weight: bold;
    }
    .menulist p{
        padding-top: 05px;
    }
     /*Botton commander*/
     .bottonrestau {
        border: 1px solid transparent;
        background: rgb(174,95,219);
        background: linear-gradient(354deg, 
       rgba(174,95,219,1) 10%,
       rgba(233,114,218,1) 73%);
        text-align: center;
        border-radius: 50px 50px 50px 50px;
        box-shadow:6px 6px 10px  #c8c8c8;
        height: 62px;
        padding-top:20px;
        display:flex ;
        justify-content: center;
        margin: 30px 130px 0 130px;
       }
       .bottonrestau a{
        text-decoration: none;
        color: white;
        font-weight: bold;
       }
      
    /*Footer*/
			footer{
				padding-top: 20px;
				background-color:#353535;
				margin-top: 20px;
				padding-left: 50px;
			}
			footer div img{
				color: white;
			}
			footer div ul{
				padding: 0;
				color: white;
				list-style: none;
			}
			footer div ul> li{
				padding-bottom:10px ;
			}
			.iconrestau{
				display: flex;
			}
			.iconhands{
				display: flex;
			}
			.iconhands i{
				
				padding-right: 13px;	
			}
			.iconrestau i{
			 padding-right: 20px;
			}	
}
